<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href="/products/addSSR">Add</a>
    <% if(datas){ %>
        <% for(let data of datas){%>
    <div class="main">    
        <div>id: <%= data._id %></div>
        <div>name: <%= data.name %></div>
        <div>desc: <%= data.desc %></div>
    </div>
    <br>
    <% } %>
    <% } %>
</body>
</html>